@use "../abstracts/variables";

.component-card__container {
  border: 1px solid variables.$color-foreground-black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;

  & > div {
    display: block;
    width: 50%;
  }

  & > div:first-of-type {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: variables.$color-background-muted-white;
    text-align: center;

    & > svg {
      max-height: 115px;
      width: 120px;
    }
  }

  & > div:last-of-type {
    height: 100%;
    line-height: 1.4rem;

    h3, p {
      margin: 0;
      padding: 0 1.5rem;
    }

    h3 { margin: 1.2rem 0 0.4rem 0; }
    p { padding-bottom: 1.2rem; }
  }

}
