@use "../abstracts/variables";

.component-form-item {

  & > input:focus,
  & > textarea:focus {
    border: 1.5px solid variables.$color-brand-primary;
    outline: none;
  }

  & > input {
    padding: 0.5rem;
    box-sizing: border-box;
    width: 100%;
  }

  & > label {
    margin-bottom: 0.4rem;
    display: block;
    font-size: 18px;
  }

  & > textarea {
    padding: 0.5rem;
    width: 100%;
    min-height: 200px;
  }

}
