@use "../abstracts/variables";

.component-form__container {

  button,
  input,
  label,
  textarea {
    font-size: 18px;
  }

  input,
  textarea {
    margin: 0 0 2rem 0;
  }

  button {
    border: 2px solid variables.$color-brand-primary;
    border-radius: 30px;
    padding: 0 1.5rem;
    height: 55px;
    background-color: variables.$color-brand-primary;
    color: variables.$color-foreground-white;
    font-weight: 600;
    @media (width <= variables.$breakpoint-medium) { padding: 0 2.5rem; }
  }

  button:focus {
    outline: 0;
  }

  button:hover {
    background-color: darken(variables.$color-brand-primary, 3%);
    cursor: pointer;
  }

  input { height: 40px; }

  textarea {
    box-sizing: border-box;
    min-height: 200px;
    font-family: inherit;
  }

}
