@use "../abstracts/variables";

.component-form__container {

  button {
    border: 3px solid variables.$color-brand-primary;
    border-radius: 30px;
    color: #FFF;
    background-color: variables.$color-brand-primary;
  }

}
