@use "../abstracts/variables";

.component-form__container {

  button {
    border: 2px solid variables.$color-brand-primary;
    border-radius: 30px;
    background-color: variables.$color-brand-primary;
    color: #FFF;
    font-weight: 600;
  }

}
