@use "../abstracts/variables";

.component-hero__container {
  display: flex;
  min-height: 200px;
  width: 100%;
  height: auto;
  align-items: end;

  & > section {
    margin: 2rem 4rem;
    width: 40%;
    color: variables.$color-foreground-white;
  }

  & > section >  h1 { font-size: 32px; }
}
