@use "../abstracts/variables";

.component-hero__container {
  display: flex;
  min-height: 225px;
  width: 100%;
  height: auto;
  align-items: center;

  & > section {
    margin: 0 4rem;
    width: 75%;
    color: variables.$color-foreground-white;
    @media (width <= variables.$breakpoint-small) { margin: 0 2.5rem; }

    h1 {
      margin-top: 0;
      font-size: 32px;
    }

    & > p { line-height: 1.5rem; }

    & > div {
      display: flex;
      @media (width <= variables.$breakpoint-small) { display: none; }
    }

    & > div > a {
      margin-right: 1.6rem;
      display: flex;
      color: variables.$color-foreground-white;
      & > svg {
        margin-left: 4px;
        width: 20px;
      }
    }

    @media (width <= variables.$breakpoint-medium) { width: 100%; }
  }
}
