@use "../abstracts/variables";

.component-list__container {
  width: 100%;

  & > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & > ul > li {
    display: flex;
    border-bottom: 1px solid variables.$color-border-default;
    padding: 2rem 0;

    & > div {
      margin-right: 15px;
      border: 1px solid variables.$color-foreground-black;
      border-radius: 5px;
      max-height: 50px;
      flex-basis: 50px;
      background-color: variables.$color-background-muted-white;
      & > svg { width: 100%; }
    }

    & > section {
      flex-basis: calc(100% - 67px);
      & > h3 { margin: 0; }
      & > p {
        margin: 0.6rem 0 1.2rem 0;
        line-height: 1.6rem;
      }
    }

  }


}
