@use "../abstracts/variables";

 .app-pk-portfolio__container > nav {
    z-index: 1;
    border-right: 3px solid variables.$color-brand-primary;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$color-foreground-white;

    & > ul {
      margin: 0;
      padding: 0;
      width: 80%;
      list-style: none;
    }
}


 .app-pk-portfolio__container > nav > ul:first-of-type {
   & > li > a {
     padding: 1.5rem 0;
     display: flex;
     align-items: center;
     font-size: 18px;
     text-decoration: none;

     & > img { margin-right: 1rem; }

   }

   & > li:first-of-type {
     margin: 1rem 0;

     a {
       width: 100%;
       color: variables.$color-brand-primary;
       font-size: 24px;

       & > h3 {
         margin: 0;
         font-size: 24px;
         font-weight: 600;

         & > span {
           display: block;
           font-size: 16px;
           font-weight: normal;
         }
       }
     }

     & > a > img {
       border: 1.5px solid variables.$color-brand-primary;
       border-radius: 10px;
       margin-right: 1rem;
       padding: 0.6rem;
       width: 50px;
     }
   }

   & > li:nth-child(n+2) {
     border-bottom: 1px solid variables.$color-brand-primary;
     a.active { color: variables.$color-brand-primary; }

     & > a > img { width: 25px }

     &:hover {
       transition: all 0.5s ease;
       background: variables.$color-brand-primary;

       a {
         transition: all 0.5s ease;
         padding-left: 0.6rem;
         color: variables.$color-foreground-white;
       }
     }
   }
 }


  .app-pk-portfolio__container > nav > ul:last-of-type {
    margin-bottom: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;

    & > li {
      flex-basis: 33%;
      text-align: center;

      & > a > img { width: 30px; }

      &:nth-child(2) {
        border-left: 1px solid variables.$color-brand-primary;
        border-right: 1px solid variables.$color-brand-primary;
      }
    }
  }
