@use "../abstracts/variables";

 .app-pk-portfolio__container > nav {
    z-index: 1;
    border-right: 3px solid variables.$color-brand-primary;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: variables.$color-foreground-white;

    & > ul {
      margin: 0;
      padding: 0;
      width: 85%;
      list-style: none;
    }

    @media (width <= variables.$breakpoint-medium) {
      width: 100px;
    }

    @media (width <= variables.$breakpoint-small) {
      position: absolute;
      display: none;
      width: 60%;
      overflow: scroll;
    }

}


 .app-pk-portfolio__container > nav > ul:first-of-type {

   & > li > a {
     display: flex;
     align-items: center;
     font-size: 18px;
     text-decoration: none;

     & > svg { margin-right: 1rem; }

   }

   & > li:first-of-type {
     margin: 1rem 0;
     padding: 1.5rem 0;

     a {
       width: auto;
       color: variables.$color-brand-primary;
       font-size: 24px;

       & > h3 {
         margin: 0;
         font-size: 24px;
         font-weight: 600;

         & > span {
           margin-top: 0.16rem;
           display: block;
           font-size: 16px;
           font-weight: normal;
         }


         @media (width <= 1280px) {
           font-size: 20px;
           & > span { font-size: 14px; }
         }

         @media (width <= variables.$breakpoint-medium) { display: none; }
         @media (width <= variables.$breakpoint-small) { display: block; }
      }

       &:hover {
         background: darken(variables.$color-foreground-white, 5%);
       }
     }

     & > a > svg {
       border: 1.5px solid variables.$color-brand-primary;
       border-radius: 10px;
       margin-right: 1rem;
       padding: 0.6rem;
       width: 50px;

       @media (width <= variables.$breakpoint-medium) { margin: 0 auto; }
       @media (width <= variables.$breakpoint-small) {
         margin: 0 1rem 0 0;

       }
     }
   }

   & > li:nth-child(n+2) {
     border-bottom: 1px dashed variables.$color-brand-primary;

     & > a {
       border-left: 8px solid white;
       padding: 1.5rem 0.5rem;

       & > span {
         @media (width <= variables.$breakpoint-medium) { display: none; }
         @media (width <= variables.$breakpoint-small) { display: block; }
       }
     }

     a.active {
       border-color: variables.$color-brand-primary;
       color: variables.$color-brand-primary;
       background-color: #FFF3E0;

       &:hover {
         border-color: variables.$color-brand-primary;
         color: variables.$color-brand-primary;
         background-color: darken(#FFF3E6, 2%);
       }
     }

     & > a > svg {
       width: 25px;
       @media (width <= variables.$breakpoint-medium) { margin: 0 auto; }
       @media (width <= variables.$breakpoint-small) { margin: 0 1rem 0 0; }
     }

     &:hover {
       transition: all 0.5s ease;
       background: darken(variables.$color-foreground-white, 5%);

       a {
         border-left-color: darken(variables.$color-foreground-white, 5%);
         transition: all 0.5s ease;
       }
     }
   }
 }


  .app-pk-portfolio__container > nav > ul:last-of-type {
    margin-bottom: 2.5rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    @media (width <= variables.$breakpoint-medium) { flex-flow: column wrap; }

    & > li {
      flex-basis: 33%;
      text-align: center;

      & > a {
        padding: 0.6rem 0;
        display: block;

        &:hover { background-color: darken(variables.$color-foreground-white, 5%); }
      }

      & > a > svg { width: 35px; }

      &:nth-child(2) {
        border-left: 1px solid variables.$color-brand-primary;
        border-right: 1px solid variables.$color-brand-primary;

        @media (width <= variables.$breakpoint-medium) {
          border-left: none;
          border-right: none;
        }
      }
    }
  }
