@use "../abstracts/variables";

.component-tabs__container {

  & > ul {
    border-bottom: 2px solid variables.$color-border-default;
    padding: 0;
    display: flex;
    list-style: none;


    & > li {
      margin-right: 1.5rem;
      height: 30px;
    }

    & > li > a {
      display: block;
      height: 100%;
      text-decoration: none;
    }

    & > li > a.active {
      border-bottom: 2px solid;
      color: variables.$color-brand-primary;
    }

    button {
      position: absolute;
      display: none;
      visibility: hidden;
    }

    @media (width <= 840px) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      scrollbar-width: none;

      button {
        display: block;
        visibility: visible;
      }
    }

  }

}
