@use "../abstracts/variables";

.component-tabs__container {

  & > ul {
    border-bottom: 2px solid variables.$color-border-default;
    padding: 0;
    display: flex;
    list-style: none;

    & > li {
      margin-right: 1.5rem;
      margin-bottom: -1px;
      height: 30px;
      @media (width <= variables.$breakpoint-small) { margin-bottom: 0; }
    }

    & > li > button {
      border: none;
      padding: 0;
      display: block;
      height: 100%;
      font-size: 16px;
      background-color: transparent;
      cursor: pointer;
    }

    & > li > button.active {
      border-bottom: 2px solid variables.$color-brand-primary;
      color: variables.$color-brand-primary;
      @media (width <= variables.$breakpoint-small) { border-width: 3px; }
    }

    & > button {
      position: absolute;
      display: none;
      visibility: hidden;

      & > svg { width: 15px; }
    }

    @media (width <= 840px) {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      scrollbar-width: none;
      scroll-behavior: smooth;

      & > button {
        padding: 0;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        -webkit-appearance: none;
        border-radius: 0;
        border-width: 0;

        &.prev { inset-inline-start: 15px; }
        &.next { inset-inline-end: 15px; }

        & > svg { width: 90%; }
      }
    }

  }

}
