@use "../abstracts/variables";

.component-verticle-timeline__container {
  & > ul {
    padding: 0;
    border-left: 1px solid variables.$color-foreground-black;
    list-style: none;

    & > li {
      position: relative;
      padding: 1.5rem 1.5rem 1.5rem 2rem;

      & > time {
        display: block;
        margin-top: 7.5px;
      }

      & > h3 { margin: 0.5rem 0 0 0; }

      & > div:first-of-type {
        position: absolute;
        inset-inline-start: -17.2px;
        border: 2px solid variables.$color-brand-primary;
        border-radius: 50%;
        display: flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        background-color: variables.$color-foreground-white;

        & > svg {
          width: 18px;
          color: variables.$color-brand-primary;
        }
      }

      & > div:last-of-type {
        margin-top: 0.8rem;
        display: flex;

        & > div {
          display: flex;
          width: 48px;
          border: 1.5px solid variables.$color-border-default;
          border-radius: 5px;
          justify-content: center;

          & > svg {
            width: 60%;
            height: auto;
          }
        }

        & > section >  span {
          margin-left: 0.5rem;
          display: block;
          font-size: 14px;
          &:last-of-type { margin-top: 0.2rem; }
        }
      }

      & > p { line-height: 1.6rem; }
    }

  }
}
