$color-brand-primary: #E65100;
$color-foreground-black: #272727;
$color-foreground-white: #FFFFFF;
$color-background-muted-white: #f6f8fa;
$color-border-default: #d0d7de;


$breakpoint-medium: 1150px;
$breakpoint-small: 700px;
