@use "../abstracts/variables";

.layout-page__projects {

  .component-hero__container {
    background: linear-gradient(125deg, rgb(114, 66, 146) 0%,  rgb(184, 151, 124)  100%);
  }

  & > div:last-of-type {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    .component-card__container {
      margin: 1rem 0;
      flex-basis: 100%;

      & > div:first-of-type { width: 25%; }
      & > div:last-of-type { width: 75%; }
    }
  }
}
