@use "../abstracts/variables";

.layout-page__skills {

  & > div:last-of-type {
    padding: 2rem 4rem;

    .component-tabs__container {
      & > ul {  margin-top: 0; }

      section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
      }

      & > section .component-card__container {
          margin: 1rem 0 1rem 0;
          flex-basis: 48%;

          @media (width <= 960px) { flex-basis: 100%; }
      }
    }
  }

  .component-hero__container {
    background: linear-gradient(125deg, rgb(115, 24, 55) 0%,  rgb(195, 153, 70)  100%);
  }

}
