@use "../abstracts/variables";

.app-pk-portfolio__container > main {
  position: relative;
  width: 75%;
  overflow: scroll;

  @media (width <= variables.$breakpoint-medium) { width: calc(100% - 100px); }

  @media (width <= variables.$breakpoint-small) {
    position: static;
    width: 100%;
  }

  .layout-page__content {
    padding: 2rem 4rem;
    @media (width <= variables.$breakpoint-small) { padding: 2rem 2.5rem; }
  }
}
